parameters:
    level: 5
    paths:
        - src/
    excludePaths:
        - vendor/
        - storage/
        - bootstrap/cache/
        - tests/
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors: []